[options]
addons_path = /data/dl-addons13
admin_passwd = $pbkdf2-sha512$19000$wFjrvRei1Nr7f..9F0JoLQ$An3fWwvSbGIGlFbY5vyDcWHNAGOq3ljuiU.p11nToaMnojr0NWbWLP2oY3ItFqDAzjm3ZYji7yH7Nv0rk6JTDA
csv_internal_sep = ,
data_dir = /home/odoo/.local/share/data
db_host = {{ dldbip }}
db_maxconn = 256
db_name = {{ postgresdb }}
db_password = {{ postgrespassword }} 
db_port = 5432
db_template = template1
db_user = {{ postgresuser }}
dbfilter = ^{{ postgresdb }}$
debug_mode = False
pg_path = /usr/pgsql-10/bin
demo = {}
email_from = False
geoip_database = /usr/share/GeoIP/GeoLiteCity.dat
import_partial = False
limit_memory_hard = 25769803776
limit_memory_soft = 16106127360
limit_request = 8192
limit_time_cpu = 72000
limit_time_real = 72000
limit_time_real_cron = -1
list_db = False
log_db = False
log_db_level = warning
log_handler = :INFOs
log_level = info
logfile = {{ dlapplogdir }}/odoo13.log
logrotate = True
longpolling_port = 27001
max_cron_threads = 5
osv_memory_age_limit = 1.0
osv_memory_count_limit = False
pidfile = 
proxy_mode = True
reportgz = False
server_wide_modules = base,web,queue_job 
smtp_password = False
smtp_port = 25
smtp_server = localhost
smtp_ssl = False
smtp_user = False
syslog = False
test_commit = False
test_enable = False
test_file = False
test_report_directory = False
translate_modules = ['all']
unaccent = False
without_demo = True
workers = 24
http_enable = True
xmlrpc_interface = False
xmlrpc_port  = 27000
cpu_time_limit = 15000
[queue_job]
channels = root:30, root.mrp:6:throttle=5, root.elastic:20:throttle=2, root.expo:15:throttle=2, root.delivery.auto_confirm_order:25, root.invoice:1